<div ng-controller='HomeController'>
    <div class="row	">
        <div class="medium-9 medium-centered columns">
            Aplicación Básica <br /><br/>
            <form>
            	Escribe tu nombre, para saludarte O:
                <input type="text" ng-model="user.name" />
                <button class="button" ng-click="index()">Ok!</button>
            </form>
        </div>
    </div>
</div>